<h1>Schedule</h1>

  <div class="row">
    <div class="col-md-8">

     

      <div class="card" *ngFor="let day of schedule">
          
          <div class="container">
            <h4><b>{{day.name}}</b></h4>
            <h5>Week {{day.weekNumber}}</h5> 
           
                    <p *ngFor="let shift of day.shifts">
                      {{shift.id}} - Name: {{shift.engineer.id}}  {{shift.engineer.name}}
                    </p>
               
          </div>
        </div>


    </div>
    <div class="col-md-4">     
      <div class="user-list"> 
          <ul class="list-group">
              <li class="list-group-item active">Engineer</li>
              <li class="list-group-item" *ngFor="let engineer of engineers">
                {{ engineer.name }}
              </li>              
            </ul>
      </div>
    </div>
  </div>
  <app-loading [isLoading]="isLoading"></app-loading>
